<div class="container">
  <h1 class="text-center">Celebrity Rich List</h1>

  <div>
    <div>
      <label for="birthPlaceSelect">birth place</label>
      <select name="birthPlace" id="birthPlaceSelect" ng-model="main.allInputs.birthPlace.selected">
        <option ng-repeat="option in main.allInputs.birthPlace.options" value="{{option.id}}">{{option.name}}</option>
      </select>
    </div>
    <div>
      <label>Search: </label>
      <input ng-model="searchText">
    </div>
  </div>

  <div>
    <div
      ng-repeat="celebrity in main.data.celebrityList | filter:searchText | countryFilter: main.allInputs.birthPlace.selected">
      <div>No.{{celebrity.rank}}</div>
      <div>Name:{{celebrity.name}}</div>
      <div>Net Worth:{{celebrity.netWorth}}</div>
      <div>Age:{{celebrity.age}}</div>
      <div>Country of Birth:{{celebrity.country}}</div>
    </div>
  </div>


</div>
