/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

#celebrity-rich-list {
  .filters {
    width: 50%;
    margin: 0 auto;
    .query-filter {
      display: inline-block;
      width: calc(50% - 2px);
      label {
        display: block;
      }
      input, select {
        display: block;
        width: 100%;
      }
    }
  }
  .celebrities {
    width: 50%;
    margin: 10px auto auto;
    .celebrity {
      border: 1px solid grey;
      text-align: center;
      .rank {
        color: white;
        background-color: #044A6C;
      }
    }
  }
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
